@page "/PlotlyMaps"

<h2>Plotly Map Chart Examples.</h2>
<table>
    
    <!-- this is an extremely simple layout, I'll leave advanced layouts to the experts -->
    
    <tr><td width="800px" valign="top"><br />
    
        <!-- Plotly chart component-->
        <PlotlyChart @ref="Chart1"></PlotlyChart>
        
    </td><td>&nbsp;</td><td>


   
     <h3>Maps</h3>
     
     <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="ChoroplethChart">Choropleth</button>

  

    <h3>Geo</h3>

     <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="LineGeoChart">Line Geo</button>

     <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="ScatterGeoChart">Geo</button>

     <h3>Mapbox</h3>

            <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="ChoroplethMapboxChart">Choropleth Mapbox</button>

     <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="DensityMapboxChart">Density Mapbox</button>

     <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="ScatterMapboxChart">Scatter Mapbox</button>


     <br />
     *Plotly vendors offers paid services for detailed map support, the above are free map options.

            <a href="https://www.mapbox.com/">https://www.mapbox.com/</a>

 
    </td></tr></table>
