@page "/PlotlySimple"

<h2>Plotly Simple Chart Examples.</h2>
<table>
    
    <!-- this is an extremely simple layout, I'll leave advanced layouts to the experts -->
    
    <tr><td width="800px" valign="top"><br />
    
        <!-- Plotly chart component-->
        <PlotlyChart @ref="Chart1"></PlotlyChart>
        
    </td><td>&nbsp;</td><td>



    <h3>Line and Scatter</h3>
            <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="ScatterChart">Scatter</button>

            <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="LogScatterChart">Log Scatter</button>


            <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="TimeSeriesChart">Time Series</button>

    <h3>Region</h3>
            <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="BubbleChart">Bubble</button>


            <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="BarChart">Bar</button>

            <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="PieChart">Pie</button>


    



 
    </td></tr></table>
