@page "/PlotlySpecialty"
@inherits DemoBaseComponent

<h2>Plotly Specialty Chart Examples.</h2>
<table>
    
    <!-- this is an extremely simple layout, I'll leave advanced layouts to the experts -->
    
    <tr><td width="800px" valign="top"><br />
    
        <!-- Plotly chart component-->
        <PlotlyChart @ref="Chart1"></PlotlyChart>
        
    </td><td>&nbsp;</td><td>



        <h3>Specialty</h3>
    

            <button @ref="firstButton" id="FirstButton" class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="PointCloudChart">Point Cloud</button>

            <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="SankeyChart">Sankey</button>

        <h3>Textual</h3>

            <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="IcicleChart">Icicle</button>

            <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="SunburstChart">Sunburst</button>
    
            <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="TableChart">Table</button>

            <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="TreeMapChart">Tree Map</button>




 
    </td></tr></table>
