@page "/PlotlyTest"

<h2>Plotly Chart Types:</h2>
<table>
    
    <!-- this is an extremely simple layout, I'll leave advanced layouts to the experts -->
    
    <tr><td width="800px" valign="top"><br />
    
        <!-- Plotly chart component-->
        <PlotlyChart @ref="Chart1"></PlotlyChart>
        
    </td><td>&nbsp;</td><td>



    <br /><strong>Simple</strong><br />
    <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="ScatterChart">Scatter</button>

     <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="LogScatterChart">Log Scatter</button>

    <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="BarChart">Bar</button>

    <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="PieChart">Pie</button>

    <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="BubbleChart">Bubble</button>

    
    <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="TimeSeriesChart">Time Series</button>

     <br /><strong>Special</strong><br />
     <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="IcicleChart">Icicle</button>

      <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="PointCloudChart">Point Cloud</button>

    <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="SankeyChart">Sankey</button>
    
     <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="ScatterPolarChart">Scatter Polar</button>

     <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="ScatterPolarChart">Scatter Polar</button>

      <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="ScatterTernaryChart">Scatter Ternary</button>

    <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="SunburstChart">Sunburst</button>
    

      <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="TableChart">Table</button>

    <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="TreeMapChart">Tree Map</button>

    <br /><strong>Finance</strong><br />
    <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="CandlestickChart">Candlestick</button>
 
    <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="OHLCChart">OHLC</button>

    <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="WaterfallChart">Waterfall</button>

     <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="FunnelChart">Funnel</button>

      <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="StackedFunnelChart">Stacked Funnel</button>

      <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="FunnelAreaChart">Funnel Area</button>

      <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="GuageChart">Guage</button>

        <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="BulletChart">Bullet</button>

   
     <br /><strong>Maps</strong><br />
     <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="ChoroplethChart">Choropleth</button>

     <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="ChoroplethMapboxChart">Choropleth Mapbox</button>

      <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="DensityMapboxChart">Density Mapbox</button>

     <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="LineGeoChart">Line Geo</button>

     <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="ScatterGeoChart">Geo</button>

    

     <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="ScatterMapboxChart">Scatter Mapbox</button>

    <br /><strong>Statistical</strong><br />
     <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="BoxChart">Box</button>

     <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="Histogram">Histogram</button>

    <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="HistogramContour2D">2D Histogram Contour</button>

    
    <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="ParallelCategoriesChart">Parallel Categories</button>
    

    <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="SplomChart">Splom</button>

    
    <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="ViolinChart">Violin</button>



  
    <br /><strong>Scientific</strong><br />
    <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="ContourChart">Contour</button>

        <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="ContourCarpetChart">Contour Carpet</button>

    <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="HeatmapChart">Heatmap</button>
    
    
    <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="ParallelCoordinateChart">Parallel Coordinate</button>

    <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="PolarChart">Polar</button>

      <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="ScatterCarpetChart">Scatter Carpet</button>

       <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="ScatterSmithChart">Scatter Smith</button>
       
     <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="TernaryChart">Ternary</button>


    <br /><strong>3D</strong><br />
 
     <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="ConeChart">Cone</button>
    
    <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="IsoSurface3DChart">ISO Surface 3D</button>
  


    <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="Line3DChart">Line 3D - Random Walk</button>

    <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="Scatter3DChart">Scatter 3D</button>


    <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="StreamTubeChart">Stream Tube</button>
  
    <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="Surface3DChart">Surface</button>
    
    <button class="btn btn-primary m-1" disabled="@DisabledButtons" @onclick="VolumeChart">Volume</button>
 
    </td></tr></table>
